<div #carousel-example-generic
     .carousel
     .slide
     data-ride=carousel>
  <ol .carousel-indicators>
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
    <li data-target="#carousel-example-generic" data-slide-to="1">
    <li data-target="#carousel-example-generic" data-slide-to="2">

  <div class="carousel-inner">
    <div class="item active">
      <img src="http://pub.iotek.org/p/rbVz1gr.png">
      <div class="carousel-caption">
        <h3>
          Slide 0
    <div class="item">
      <img src="http://pub.iotek.org/p/rbVz1gr.png">
      <div class="carousel-caption">
        <h3>
          Slide 1
    <div class="item">
      <img src="http://pub.iotek.org/p/rbVz1gr.png">
      <div class="carousel-caption">
        <h3>
          Slide 2

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left">

  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right">

<div .page-header>
  <h1>
    Mauris bibendum
    <small>
      posuere cursus massa hendrerit. Nam mattis.
<div .row>
  <div .col-sm-6 .col-md-4>
    <div .thumbnail>
      <img src="https://i.nyx.cz/files/00/00/11/99/1199742_2e4bcadeadee3d9e9562.jpg?name=screenie7.jpg">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>
          Phasellus sodales odio non sem pretium mattis. Aenean
          adipiscing dapibus velit, id porta nibh vulputate a. Quisque
          vitae nullam.
        <p>
          <a href="#"
             class="btn btn-primary"
             role="button">Button
          <a href="#"
             class="btn btn-default"
             role="button">Button
  <div .col-sm-6 .col-md-4>
    <div .thumbnail>
      <img src="https://i.nyx.cz/files/00/00/11/99/1199742_2e4bcadeadee3d9e9562.jpg?name=screenie7.jpg">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>
          Phasellus sodales odio non sem pretium mattis. Aenean
          adipiscing dapibus velit, id porta nibh vulputate a. Quisque
          vitae nullam.
        <p>
          <a href="#"
             class="btn btn-primary"
             role="button">Button
          <a href="#"
             class="btn btn-default"
             role="button">Button
  <div .col-sm-6 .col-md-4>
    <div .thumbnail>
      <img src="https://i.nyx.cz/files/00/00/11/99/1199742_2e4bcadeadee3d9e9562.jpg?name=screenie7.jpg">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>
          Phasellus sodales odio non sem pretium mattis. Aenean
          adipiscing dapibus velit, id porta nibh vulputate a. Quisque
          vitae nullam.
        <p>
          <a href="#"
             class="btn btn-primary"
             role="button">Button
          <a href="#"
             class="btn btn-default"
             role="button">Button
<div .jumbotron>
  <div .thumbnail>
    <img src="http://i.imgur.com/Om2L9JG.png">
  <h1>
    Vivamus placerat ultrices cras amet.
  <p>
    Etiam fermentum quis sapien in laoreet. Phasellus sed velit at
    lorem imperdiet tempus eget vel quam. Suspendisse interdum nunc
    non sodales facilisis. Donec quis eros placerat, faucibus erat ac,
    pharetra ante. Sed quis felis eget diam pretium viverra fusce.

